* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

.header-background {
  background-color: var(--bg-color);
}

.body-background {
  background-color: var(--bg-light-color);
}

:root {
    /* Hauptfarben */
    --primary-color: #44ab08; /* Green */
    --secondary-color: #eefbfb; /* White */
  
    /* Hervorhebungsfarben */
    --success-color: #9fe870; /* Grün */
    --info-color: #17a2b8; /* Türkis */
  
    /* Textfarben */
    --text-color: #163300; /* Dunkelgruen */
  
    /* Hintergrundfarben */
    --bg-color: #44ab08; /* Green */
    --bg-light-color: #eefbfb; /* Weiß */
    --bg-dark-color: #163300; /* Dunkelgrau */
  }
  

/* FONTS */

@font-face {
    font-family: 'Fingerpop';
    src: url('./fonts/fingerpop.woff2') format('woff2'),
        url('./fonts/fingerpop.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.heading-font {
    font-family: 'Fingerpop';
}

/* LOGO */

/* Mobile Navbar */
.navbar__mobile {
  width: 100%;
  background-color: var(--bg-color);
}

.navbar__mobile-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

.navbar__mobile-title {
  font-family: 'Fingerpop';
  align-self: center;
  font-size: 1.5rem;
  white-space: nowrap;
  color: var(--secondary-color);
}

.navbar__mobile-hamburger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.75rem;
  font-size: 0.875rem;
  color: #a0aec0;
  border-radius: 0.375rem;
  transition: background-color 0.3s ease;
  :hover {
    background-color: var(--bg-color);
  }
  :focus {
    outline: none;
    box-shadow: 0 0 0 2px white;
  }
  color: white;
  dark:hover {
    background-color: var(--bg-color);
  }
}

.navbar__mobile-list {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  padding: 1rem; 
  margin-top: 1rem;
  border: 1px solid var(--secondary-color);
  border-radius: 0.5rem;
  background-color: var(--bg-color);
}

.navbar__mobile-list-item {
  display: block;
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  color: white;
  background-color: transparent;
  transition: border 0.3s ease;
  :hover {
    border: 1px solid white;
  }
}

.navbar__desktop {
  background-color: var(--bg-color);
  height: 4.25rem;
}

.navbar__desktop-container {
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

.navbar__desktop-title {
  font-family: 'Fingerpop';
  color: white;
}

.navbar__desktop-list {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  font-weight: 500;
}

.navbar__desktop-list-item {
  display: block;
  padding: 0.5rem 0.75rem;
  color: white;
  background-color: transparent;
}

.navbar__desktop-list-item:hover {
  text-decoration: underline;
}

/* MAIN CONTENT */
/* FEATURE TEASER */

.feature-teaser__container {
  display: none;

  @media (min-width: 768px) {
    display: block;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}

.feature-teaser__info {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.feature-teaser__info h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 8rem;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
  margin: 0;
}

/* TIMELINE DESKTOP */

.timeline__container {
  align-content: flex-end;
}

.toggle-group__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.375rem;
  padding: 3rem ;
}

.toggle-group__btn {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 0.825rem;
  font-weight: 500;
  color: #1f2937;
  background-color: transparent;
  border: 1px solid #4b5563;
  border-radius: 0.5rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.timeline__body {
  max-width: 1366px;
  margin: 0 auto;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-radius: 8px;
}

/* MINIMAL TIMELINE MOBILE */

.mobile-timeline__container {
  background-color: var(--bg-light-color);
  margin: 0 1rem ;
}

.mobile-timeline__container ol {
  position: relative;
  padding: 1.25rem 0;
}

.mobile-timeline__container li {
  margin-bottom: 3rem;
}

.mobile-timeline__card {
  max-width: 24rem;
  margin-top: 2rem;
  background-color: var(--bg-color);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.mobile-timeline__text {
  padding: 1.25rem;
}

.mobile-timeline__text time,
.mobile-timeline__text h5,
.mobile-timeline__text p {
  color: var(--secondary-color);
}

.mobile-timeline__text time {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1;
}

.mobile-timeline__text h5 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.025em;
}

/* FOOTER */

footer {
  background-color: var(--bg-color);
}

.footer__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding: 1rem;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

footer span, ul {
  font-size: small;
  color: var(--secondary-color);
}

footer span {
  text-align: center;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: bold;
}